/*
font-family: 'Permanent Marker', cursive;
font-family: 'Public Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Poppins', sans-serif;

@media only screen and (max-width: 600px) 
@media only screen and (max-width: 992px)

@media only screen and (min-width: 601px) 
@media only screen and (min-width: 993px)
@media only screen and (min-width: 1201px) 
*/

* {
    /* border: solid 1px cadetblue;   */
    font-family: 'Poppins', sans-serif;
  }

.custom-container {
  width: 92%;
  margin: 0.5rem auto;
} 



header {
    display: flex;
    flex-flow: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 40vh;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    align-items: center;
}

#name
  { 
    font-size: 2.4rem;
    align-items: center;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
  }

#role {
    font-size: 1.2rem;
  }

.greyTitle {
    font-family: 'Poppins', sans-serif;
    color: rgba(248, 238, 238, 0.945);
    position: absolute;
    font-size: 4rem;
    z-index: -1;
    opacity: 0;
    /* transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 2s ease; */
    transform: translateX(-150%);
    transition: transform 1.2s ease;
}

.greyTitle.show {
    opacity: 1;
    transform: translateX(0);
}



.aboutContainer {
    height: 40vh;
    display: grid;
    align-items: end;
}

.blurbContainer {
 padding: 1rem;
}

.myBlurb {
    font-size: 1.2rem;
  }



.spacer{
  height: 50vh;
}



.project_container {
    height: 150vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.project_content {
  transform: translateX(-150%);
  transition: transform 1s ease;
}
.project_content.show {
  transform: translateX(0);
}

.pjt_no{
  height: 3rem;
  font-size: 1.2rem;
}

.site_name {
  font-size: 2.4rem;
  font-weight: bolder; 
  margin-bottom: 0.6rem;
}

.description {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.features {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.638);
  line-height: 1.3;
  margin-bottom: 0.4rem;
}




#phones_container {
  width: 90vw; 
  height: 100vh;  
  position: relative; 
}

.screen1 {
  z-index: 4;
  height: 460px; /* Adjust the width as needed */
  transition: transform 0.3s ease;
  position: absolute;
  top: 30%; /* Adjust the vertical position as needed */
  right: 0%;
  transform: translate(0, -50%); /* Center vertically using transform */
}
.screen1:hover {
  transform: translate(0, -50%) scale(1.1);
}

.screen2 {
  z-index: 2;
  height: 350px; /* Adjust the width as needed */
  transition: transform 0.3s ease;
  position: absolute;
  top: 40%; /* Adjust the vertical position as needed */
  right: 42%;
  transform: translate(0, -50%); /* Center vertically using transform */
}
.screen2:hover {
  transform: translate(0, -50%) scale(1.1);
}

.screen3 {
  z-index: 3;
  height: 400px; /* Adjust the width as needed */
  transition: transform 0.3s ease;
  position: absolute;
  top: 65%; /* Adjust the vertical position as needed */
  right: 26%;
  transform: translate(0, -50%); /* Center vertically using transform */
}
.screen3:hover {
  transform: translate(0, -50%) scale(1.1);
}

.screen4 {
  z-index: 1;
  height: 270px; /* Adjust the width as needed */
  transition: transform 0.3s ease;
  position: absolute;
  top: 82%; /* Adjust the vertical position as needed */
  right: 65%;
  transform: translate(0, -50%); /* Center vertically using transform */
}
.screen4:hover {
  transform: translate(0, -50%) scale(1.1);
}


.skills_container {
  height: 50vh;
  display: grid;
  align-items: flex-start;
  align-content: center;
} 
  
.languages {
    height: 40vh; 
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
  }


.footer_container {
  height: 50vh;
  display: grid;
  align-items: flex-start;
  align-content: center;
  }

.row {
  align-items: center;
}

#contact_icons {
    margin-left: 25%;
    height: 21vh;
    width: 54vw;
    font-size: 1.2rem;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    z-index: 2;
  }

.grow { 
  transition: all .2s ease-in-out; 
  }

.grow:hover { 
  transform: scale(1.2); 
  }








/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */









/* THIS IS THE STYLE ONCE THE SCREEN HITS 663 PIXELS WIDTH */
@media only screen and (min-width: 663px){ 
 
  header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #name { 
    font-size: 5rem;
  }
  
  #role {
    font-size: 2rem;
  }
  


  .aboutContainer {
    height: 50vh;
    position: relative;
    display: flow-root;
    align-items: center;
    /* padding-bottom: 15rem; */
  }
  
  .greyTitle {
    font-size: 10rem;
  }
  
  .blurbContainer {
    display: flex;
  }
  
  .myBlurb {
    font-size: 2rem;
    display: block;
    position: relative;
    text-align: end;
    margin-top: 19%;
    margin-left: 10%;
    z-index: 2;
  }
  
  .myBlurb::after {
    content: "";
    display: inline-block;
    width: 100%;
  }
 
.project_content {
    width: 55%;
}



.project_container{
    height: 180vh;
    /* width: 100%; */
}
  
.site_name {
  font-size: 4rem;
  /* font-weight: bold; */
}

.description {
  font-size: 2rem;
}
  
.features {
  font-size: 2rem;
}



.phones_container {
  width: 100vw; 
  height: 150vh; 
  position: relative; 
}
  .screen1 {
    height: 700px; /* Adjust the width as needed */
    top: 30%; /* Adjust the vertical position as needed */
    right: 5%;
  }
  
  .screen2 {
    height: 550px; /* Adjust the width as needed */
    top: 50%; /* Adjust the vertical position as needed */
    right: 40%;
  }
  
  .screen3 {
    z-index: 3;
    height: 650px; /* Adjust the width as needed */
    top: 75%; /* Adjust the vertical position as needed */
    right: 24%;
  }

  .screen4 {
    height: 500px; /* Adjust the width as needed */
    top: 87%; /* Adjust the vertical position as needed */
    right: 56%;
  }


  .skills_container {
    height: 50vh;
    display: grid;
    align-items: center;
    align-content: center;
  } 

  .languages {
    height: 50vh;
    font-size: 2rem;
  }
  
  .footer_container {
    height: 50vh;
    display: grid;
    /* justify-content: center; */
    align-items: center;
  }

.contact_title{
  position: relative;
  align-items: left;
}

  .footer-icon {
    padding: 15px;
  }

}
